.chat {
  min-height: var(--minimal-height-block);
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.4;
  position: relative;
}


.chat::after {
  content: "";
  background: center /70% no-repeat url(../img/four.png);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  filter: brightness(1.1) opacity(1);
}


#chat-h1 {
  font-size: var(--font-first);
  opacity: 0;
}

#chat-text {
  font-size: var(--font-text);
  font-family: var(--font-family-other);
  opacity: 0;
}

@media (max-width: 849px) {
  .chat-main {
      padding: 0 20px;
  }
}

@media (max-width: 600px) {
  .chat::after {
    background: center /cover no-repeat url(../img/four.png);
    filter: brightness(1) opacity(0.3);
  }
}