#date {
    min-height: var(--minimal-height-block);
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#date h1 {
    font-size: var(--font-first)
}

#date p {
    text-align: center;
}


/* календарь */

#calendar1 {
    font-size: var(--font-text);
    text-align: center;
}

#calendar1 thead tr:first-child {
   font-weight: bold;
   text-transform: uppercase;
   line-height: 30px;
}

#wedding-day {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    position: relative;
}

#wedding-day::before {
    content : url(../img/heart1.png);
    font-size: 10px;
    opacity: .6;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    z-index: -1;
}



.add-to>a>img {
    width: 30px;
    height: 30px;
    padding-right: 7px ;
}