.first-form {
    text-align: center;

}

.first-form__text {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 600px) {

    iframe {
        width: 100%;
        z-index: 1;
    }
}
