.greetings {
    min-height: var(--minimal-height-block);
    display: flex;
}

.family-text {
    width: 100%;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.family-text::after {
    content: "";
    background: center /contain no-repeat url(../img/third.png);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    filter: brightness(1.3) opacity(.3);
}

.family-text h1{
    font-size: var(--font-first);
}


.family-text p{
    font-size: var(--font-text);
    font-family: var(--font-family-other);
}



#dear,
#dear-text  {
    opacity: 0;
}



@media (max-width: 849px) {
    .family-text {
        padding: 0 20px;
    }
}

@media (max-width: 600px) {

    .family-text::after {
        background: center /cover no-repeat url(../img/third.png);
        filter: brightness(1.3) opacity(.2);
    }
}