#time {
    min-height: var(--minimal-height-block);
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: center;

}

.day-time {
    max-width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    /* gap: 60px; */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /* overflow: hidden; */
}


#time-h1 {
    font-size: var(--font-marks);
    font-family: var(--font-family-marks);
    font-weight: 400;
    position: relative;
    opacity: 0;
}

.day-time__inner {
    padding-left: 160px;
    width: 500px;
    font-family: var(--font-family-text);
    font-size: 30px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: auto 100%;
    /* gap: 60px; */
    margin-bottom: 70px;
    opacity: 0;
    align-items: center;
    transition: all .3s ease-in-out;
}

.day-time__inner:last-child {
    margin-bottom: 10px;

}

/* .day-time__inner:hover {
    filter:drop-shadow(0px 2px 2px rgba(128, 128, 128, 0.8));
} */

#first-time, 
#second-time, 
#third-time, 
#four-time, 
#five-time {
    width: 63px;
}


.d-t-text {
    font-family: var(--font-family-other);
    font-size: 24px;
    font-weight: 200;
    line-height: 1.5;
}

.empty-span {
    width: 50px;
    position: relative;
}

.empty-span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background-color: rgba(0, 0, 0, 0.4); */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid var(--color-text);
    transition: background-color .25s ease-in;
}

.empty-span:hover::before {
    background-color:antiquewhite;
}



.img-time-start {
    height: 100%;
    /* width: max-content; */
    position: absolute;
    top: 50px;
    left: 72px;
    /* margin-left: -128px; */
    z-index: -2;
    filter: opacity(.2) brightness(1.3) blur() hue-rotate(-10deg);
}

.img-wrapper {
    height: 105%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: white;
    /* animation: inHeight 5s ease-out forwards; */
}

@keyframes inHeight {
    0% {
        transform: translateY(0);
        
    }

    100% {
        transform: translateY(150%);
    }
}
/* .day-time::after {
    content: "";
    background: center /30%  no-repeat url(../img/brush.png);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
} */

@media (max-width: 600px) {
    #time {        
        height: 870px;
    }

    .day-time__inner {
        flex-direction: column;
        padding-left: 0;
        /* gap: 10px; */
        margin-bottom: 65px;
    }

    .empty-span {
        margin: 10px 0;
    }

    /* .img-time-start {
        height: 90%;

        filter: opacity(.1) brightness(1) blur() hue-rotate(-65deg);
    } */
    
    .img-time-start {
        left: 122px;
        /* margin-left: -6px; */
        filter: opacity(.06) brightness(1.3) hue-rotate(-10deg);
    }

}