
  /* popup */

  .popup__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    opacity: 0;
    -webkit-transition: opacity ease-in-out .3s;
    -moz-transition: opacity ease-in-out .3s;
    -o-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: rgba(0,0,0,.6);
    z-index: 100;
    display: none;
    outline: 0;
  }
  
  .popup__wrapper.active {
    display: block;
    opacity: 1;
    animation: fade .2s ;
  }

  @keyframes fade {
    0% {
        opacity: 0; 
    }

    100% {
        opacity: 1;
    }
  }
  
  #popup-form,
  #popup-form3 {
    width: calc(100% - 20px);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 2px 0 #0004;
    background-color: white;
    transform: translateY(50%);
    position: relative;
    margin: 65px auto;
    position: relative;
    left: auto;
    right: auto;
    max-width: 600px;
    display: none;
  }
  
  #popup-form.active,
  #popup-form3.active {
    display: block;
    transition: transform .3s;
    transform: translateY(0);
  }
  

  /* .popup:first-child {
    padding-top: 100px;
  } */


  .popup-close {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: var(--color-primary);
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: .3s;
    z-index: 10000;
  }

  .popup-close:hover {
    background: var(--color-text-hover);

  }

  .popup-close::before,
  .popup-close::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: .3s;
    transition-timing-function: ease;
  }

  .popup-close::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .popup-close::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }


  @media (max-width: 600px) {
    .popup__wrapper {
      padding: 0

    }

    #popup-form,
    #popup-form3  {
      margin: 0;
      width: 100%;
      height: 100%;
      border-radius: 0px;
      overflow-y: auto;
    }
  }