.quiz {
    min-height: var(--minimal-height-block);
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: radial-gradient(var(--color-primary), white); */
    position: relative;
}

.quiz-text {
}

.quiz::after {
    content: "";
    background: center /contain no-repeat url(../img/first.png);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    filter: brightness(1.1) opacity(0.5);
}


#quiz-h1 {
    font-size: var(--font-first);
    position: relative;
    opacity: 0;
}

#quiz-h1::after {
    content: "До встречи в июле";
    position: absolute;
    top: -32px; 
    left: 0;
    width: 100%;
    font-size: 45px;
    opacity: .17;
    /* filter: brightness(1.2); */
    color: gray;
    font-weight: bold;
}

#quiz-p {
    font-size: var(--font-text);
    font-family: var(--font-family-other);
    opacity: 0;
}

.btn-not {
    position: relative;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    border: .3px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    font-size: var(--font-text);
    transition: all .5s;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
}

.btn-not:hover {
    background-color: rgba(128, 128, 128, 0.1);
    border: .1px solid transparent;
  }

.btn-main-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 10px;
}

@media (max-width: 600px) {
    #quiz-h1::after {
        font-size: 40px;
    }

    .btn-main-wrapper {
        flex-direction: column;
        gap: 10px;
    }

    .quiz::after {
        background: center /cover no-repeat url(../img/first.png);
        filter: brightness(1) opacity(0.2);  
    }
    


}

@media (max-width: 300px) {

    #quiz-h1,
    #quiz-h1::after {
        font-size: 30px;
    }
}