
.start-view {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    min-height: 100svh;
    /* min-height: -webkit-fill-available; */
    /* min-height: calc(var(--vh, 1vh) * 100); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to bottom, white, var(--color-primary)); */
    /* background: center / 100% no-repeat url(../img/background/1.jpg); */
    /* content-box radial-gradient(var(--color-primary), rgba(250, 200, 208, 0.375)); */
    overflow: hidden;
    transition: min-height .4s linear;
    /* backdrop-filter: brightness(70%); */
  }

  .start-view::before {
    content: "";
    /* background: center /cover no-repeat url(../img/background/1.jpg); */
    background: center /cover no-repeat url(../img/test7.jpg);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* filter: opacity(.6) hue-rotate(10deg); */
    filter: opacity(1);
    z-index: -1;
  }


.start-view__container {
    /* padding-top: 50px; */
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.start-view__container h1 {
    font-family: var(--font-family-marks);
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    /* color: rgba(77, 77, 77, 0.853); */
    color: rgb(92, 92, 92);
    filter: drop-shadow(0px 2px 2px white);
    -webkit-text-stroke: .4px var(--color-primary);
    padding: 0 10px;
    /* text-transform: uppercase; */
    animation: var(--animation-block);
}

.ok {
    width: 450px;
    height: 205px;
    padding: 0 20px;
    box-sizing: border-box;
    animation: var(--animation-block);
    animation-duration: 2s;
    margin: 25px 0;
}

.bird {
    padding-top: 10px;
    width: 200px;
    /* opacity: .5; */
    filter:brightness(1.3);
    z-index: 1;
    /* animation: var(--animation-block);
    animation-duration: 1.5s; */
    animation: bird 7s infinite forwards;
}

.img {
    position: absolute;
    top: 50px;
    left: 30px;
    max-width: 200px
}

.img__left_top {
    max-width: 100%;
    box-shadow: 1px 16px 26px black;
    /* transform: rotate(30deg); */
    filter: opacity(.7) drop-shadow(-10px 25px 40px var(--color-primary));
}

.img_2 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 400px;
    z-index: 0;
}

.img__bottom {
    max-width: 100%;
    opacity: .4;
    /* filter: opacity(.2) drop-shadow(-10px 25px 55px var(--color-primary)) */

}



@keyframes bird {
    0% {
        transform: rotate(-5deg) translateX(0px) translateY(0px);
        filter:brightness(1.3)  drop-shadow(-15px 45px 8px rgba(104, 104, 104, 0.3));

    }

    40% {
        transform: rotate(10deg) translateX(25px) translateY(7px) ;
        filter:brightness(1.2) drop-shadow(15px 25px 18px rgba(104, 104, 104, 0.3));

    }

    80% {
        transform: rotate(-5deg) translateX(0px) translateY(0px) ;
        filter:brightness(1.3) drop-shadow(-15px 45px 8px rgba(104, 104, 104, 0.3));

    }

    100% {
        transform: rotate(-5deg) translateX(0px) translateY(0px);
        filter:brightness(1.3) drop-shadow(-15px 45px 8px rgba(104, 104, 104, 0.3));
    } 
}

@-webkit-keyframes bird {
    0% {
        -webkit-transform: rotate(-5deg) translateX(0px) translateY(0px);
        -webkit-filter:brightness(1.3)  drop-shadow(-15px 45px 8px rgba(104, 104, 104, 0.3));

    }

    40% {
        -webkit-transform: rotate(10deg) translateX(25px) translateY(7px) ;
        -webkit-filter:brightness(1.2) drop-shadow(15px 25px 18px rgba(104, 104, 104, 0.3));

    }

    80% {
        -webkit-transform: rotate(-5deg) translateX(0px) translateY(0px) ;
        -webkit-filter:brightness(1.3) drop-shadow(-15px 45px 8px rgba(104, 104, 104, 0.3));

    }

    100% {
        -webkit-transform: rotate(-5deg) translateX(0px) translateY(0px);
        -webkit-filter:brightness(1.3) drop-shadow(-15px 45px 8px rgba(104, 104, 104, 0.3));
    } 
}


@media (max-width: 819px) {
    .img {
        max-width: 300px;
        transform: rotate(-40deg);
    }

    .start-view__container {
        /* gap: 30px; */
    }

    .img_2 {
        display: none;
    }

    .start-view__container h1 {
        font-size: 35px;
    }
}

@media (max-width: 600px) {

    .img {
        max-width: 200px;
    }

    .start-view__container h1 {
        /* font-family: var(--font-family-pacifico); */
        font-family: "Bad Script", 'Times New Roman', Times, serif;
        color: rgba(0, 0, 0);
        -webkit-text-stroke: 0.1px white;
        font-size: 22px;
        /* transform: scale(1, 2); */
        letter-spacing: .3px;
        margin: 30px 0 0 0;
    }

    #start-date {
        font-size: 25px;
        margin: 0;
    }

    .ok {
        width: 100%;
    }
}

/* safari ios 100vh */

@supports (-webkit-touch-callout: none) {
    .start-view {
        min-height: -webkit-fill-available;
    }
  }
